body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .drink-item img {
    width: 100px;
    border-radius: 8px;
  }
  
  .alphabet-filter button {
    margin: 2px;
    padding: 5px 10px;
  }
  